<head>
<script type="text/javascript"
	src="https://www.gstatic.com/charts/loader.js"></script>
<script>
      google.charts.load('current', {'packages':['sankey']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'From');
        data.addColumn('string', 'To');
        data.addColumn('number', 'Weight');
        data.addColumn('number', 'Interpolated');
        data.addRows([
                      {{{this}}}
        ]);


        // Sets chart options.
        var options = {
          width: {{width}},
          height: {{height}},
          sankey: {
				iterations: 0,
      		}
          
        };

        // Instantiates and draws our chart, passing in some options.
        var chart = new google.visualization.Sankey(document.getElementById('sankey_basic'));
        chart.draw(data, options);
      }
 </script>
</head>
<body>
	<h1>{{title}}</h1>
	<div id="sankey_basic" style="width: 900px; height: 300px;"></div>

</body>
